{% extends 'main/base.html' %}

{% block title %}About{% endblock %}

{% block page_class %}about{% endblock %}

{% block heading_class %}page_heading{% endblock %}
{% block heading %}About Us{% endblock %}

{% block content %}
    <section class="text_block">
        <h2>Our Mission</h2>
        <p>{% lorem %}</p>
        <p>{% lorem %}</p>
    </section>
    <section class="text_block">
        <h2>Our History</h2>
        <p>{% lorem %}</p>
        <p>{% lorem %}</p>
    </section>
{% endblock %}