{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div class="main_wrap">
        <header class="{% block heading_class %}{% endblock %}">
            <h1>{% block heading %}{% endblock %}</h1>
        </header>

        {% block content %}{% endblock %}
    </div>
</body>
</html>