{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

    <div class="page_wrap {% block page_class %}{% endblock %}">
        <div class="page_content">
            <div id="nav_btn" class="nav_btn" tabindex="0">
                <img class="nav_icon" src="{% static 'images/nav_icon.png' %}" alt="nav menu icon" />
            </div>
            <nav id="site_nav">
                <ul>
                    <li><a href="{% url 'main_site:home' %}">Home</a></li>
                    <li><a href="{% url 'main_site:about' %}">About</a></li>
                    <li><a href="{% url 'main_site:menu' %}">Menu</a></li>
                    <li><a href="{% url 'main_site:contact' %}">Locations</a></li>
                    <li><a href="{% url 'main_site:reserve' %}">Reservations</a></li>
                </ul>
            </nav>

            <main>
                {% include 'main/partials/messages.html' %}
                <div class="main_wrap">
                    <header class="{% block heading_class %}{% endblock %}">
                        <h1>{% block heading %}{% endblock %}</h1>
                    </header>

                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>

        <footer>
            <div class="icon_credit">
                <a target="_blank" href="https://icons8.com/icon/82749/menu">
                    Menu
                </a> icon by
                <a target="_blank" href="https://icons8.com">
                    Icons8
                </a>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>