{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block page_class %}home{% endblock %}

{% block heading_class %}main_heading{% endblock %}
{% block heading %}Best Restaurant{% endblock %}

{% block content %}
    <ul class="home_menu">
        <li><a href="{% url 'main_site:menu' %}">View Menu</a></li>
        <li><a href="{% url 'main_site:contact' %}">Find Location</a></li>
        <li><a href="{% url 'main_site:reserve' %}">Book Your Visit</a></li>
    </ul>
{% endblock %}