{% extends 'main/base.html' %}
{% load static %}

{% block title %}Reservations{% endblock %}

{% block page_class %}reserve{% endblock %}

{% block heading_class %}page_heading{% endblock %}

{% block heading %}Book Your Visit Today{% endblock %}

{% block content %}
    <div class="form_card mt-1 mx-auto mb-3 p-2 rounded shadow">
        <p>
            <a
                href="{% url 'main_site:contact' %}"
                class="text-decoration-none fw-bold"
            >Call your nearest location</a> or book online now:
        </p>
        <form id="reserveForm" method="POST" action="{% url 'main_site:reserve' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="party_name" class="form-label">Name of Party</label>
                {{ form.party_name }}
            </div>
            <div class="mb-3">
                <label for="party_size" class="form-label">Number of Persons</label>
                {{ form.party_size }}
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                {{ form.phone }}
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                {{ form.email }}
            </div>
            <div class="mb-3 form-check">
                <label for="location" class="form-check-label">Select Location</label>
                {{ form.location }}
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Select Date</label>
                {{ form.date }}
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">Select Time</label>
                {{ form.time }}
            </div>
            <div class="mb-3 submit_btn">
                <input
                    type="submit"
                    class="btn bgDark form-control d-block mx-auto"
                    value="Book Now"
                />
            </div>
        </form>
    </div>
{% endblock %}